<div class="input {{input-class}}">
    <label for="{{input-name}}" class="input__label">
        {{input-name}}
    </label>
    <div class="input__wrapper">
        <input type="text" id="{{input-name}}" class="input__input" value="{{value}}">
    </div>
</div>