<div class='input {{input-class}}'>
  <label for='{{input-name}}' class='input__label'>
    {{input-name}}
  </label>
  <div class='input__wrapper'>
    <input
      type='{{type}}'
      id='{{field-name}}'
      class='input__input'
      name='{{field-name}}'
    />
  </div>
</div>
